
body {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
  }
  
  header {
    position: fixed;
    width: 100%;
    background-color: #A8E6CF;
    display: grid;
    grid-template-columns: 300px 1fr;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 5px;
    box-shadow:0px 1px 2px 1px#8b8b8b;
  }
  
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 750px;
    position: relative;
    top: 40px;
    z-index: 0;
  }
  
  #header-img {
    grid-column: 1;
    width: 100%;
    align-self: center;
    margin-top:7px;
    margin-bottom:7px;
  }
  
  #nav-bar {
    grid-column: 7;
    align-self: center;
    justify-self: left;
    display: felx;
    margin-right: 1px;
  }
  
  .nav-link {
    text-decoration: none;
    /*color: ;*/
    margin: 30px;
  }
  
  #features {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #opcoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
  }
  .opcoes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-color: lightgray;
    border-width: 1px;
    padding-bottom: 10px;
   }
  .opcoes-header {
    margin-bottom: -10px;
    width:100%;
    background-color:#d3f2e6;
    text-align:center;
  }
  .opcoes-preco {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
  }
  .opcao-desc {
    list-style: none;
  }

  /*.lista {
  }*/

  #centro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*email*/
  #centro input[type="email"]{
      border-radius:0px;
      -webkit-box-radius:0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      box-shadow: 1px 1px 2px #8b8b8b;    
      -moz-box-shadow: 1px 1px 2px #8b8b8b;
      -webkit-box-shadow: 1px 1px 2px #8b8b8b;
      background: white;
      border:none;
      width:200%;
      max-width:275px;
    /*??*/
      position:relative;
      left:-34% ;
  }
  
  #email{
    text-align:center;
    text-transform:capitalize;
  }
  
  #form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  
  #video {
    margin: auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #A8E6CF;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: 1px 1px 2px 1px #8b8b8b;
  }
  
  #footer-nav {
    display: flex;
    grid-gap: 10px;
  }
  
  .nav-link-foot{
    margin:2px;
  }
  
  footer p {
    font-size: 85%;
    color: gray;
    margin-bottom: 10px;
  }
  
  .btn {
    border: none;
    background-color: #6dd5ae;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    -moz-box-shadow: 1px 1px 2px 1px #8b8b8b;
    -webkit-box-shadow: 1px 1px 2px 1px #8b8b8b;
    box-shadow: 1px 1px 2px 1px #8b8b8b;
  }
  
  .btn:hover {
    cursor:pointer;
  }
  
  .btn:active{
    transform:scale(0.97);
    opacity:0.77;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }